.button {
  color: @white;
  line-height: 18px;
  background-color: @basic-green;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 40px;
}
