.contacts {
  position: relative;

  display: flex;
  flex-direction: column;
}

.contacts--background {
  background-color: @basic-grey;
}

.contacts__wrap-text {
  display: flex;
  min-height: 114px;
  padding: 28px 20px 22px 20px;

  @media (min-width: @tablet) {
    justify-content: space-between;
    padding: 65px 70px 61px 70px;
  }

  @media (min-width: @desktop) {
    position: absolute;
    top: 95px;

    width: 570px;
    padding: 62px 89px 51px 75px;

    background-color: @white;
  }
}

.contacts__text {
  margin: 0 20px 0 0;

  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: @tablet) {
    width: 22%;
    margin: 0;

    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
  }

  @media (min-width: @desktop) {
    width: 163px;
  }
}

.contacts__address {
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: @arial;

  @media (min-width: @tablet) {
    width: 25%;

    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: @desktop) {
    width: 160px;
  }
}

.contacts__map {
  align-self: center;
}
