.contacts__text {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.contacts__address {
  font-family: "Arial", "Verdana", sans-serif;
  line-height: 18px;
  font-style: normal;
}
