.contacts {
  display: flex;
  flex-direction: column;
  position: relative;
}

.contacts--background {
  background-color: @basic-grey;
}

.contacts__wrap-text {
  display: flex;
  padding: 28px 20px 22px 20px;
  min-height: 114px;

  @media (min-width: @tablet) {
    justify-content: space-between;
    padding: 28px 70px 22px 70px;
  }

  @media (min-width: @desktop) {
    position: absolute;
    width: 570px;
    padding: 66px 89px 51px 75px;
    background-color: @white;
    top: 95px;
  }
}

.contacts__text {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0 20px 0 0;

  @media (min-width: @tablet) {
    width: 22%;
    margin: 0;
    font-weight: 300;
    font-size: 20px;
    line-height: 21px;
  }

  @media (min-width: @desktop) {
    width: 163px;
  }
}

.contacts__address {
  font-family: @arial;
  line-height: 18px;
  font-style: normal;

  @media (min-width: @tablet) {
    text-align: right;
    width: 25%;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: @desktop) {
    width: 160px;
  }
}

.contacts__map {
  align-self: center;
}
