.extra-product {
  list-style: none;
  padding: 0;
  margin: 0;
}

.extra-product__item {
  border-top: 1px solid @very-light-grey;
  padding: 13px 0 19px 0 ;
}

.extra-product__title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @special-dark-grey-2;
  font-weight: 300;
  margin: 0 0 13px 0;
}

.extra-product__feature {
  font-family: @arial;
  font-size: 14px;
  line-height: 14px;
  color: @special-dark-grey;
  display: flex;
  justify-content: space-between;
  margin: 0 0 15px 0;
}

.extra-product__value {
  margin: 0;
}
