.extra-product {
  list-style: none;
  padding: 0;
}

.extra-product__title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @special-dark-grey-2;
  font-weight: 300;
}

.extra-product__feature {
  font-family: @arial;
  font-size: 14px;
  line-height: 14px;
  color: @special-dark-grey;
  display: flex;
  justify-content: space-between;
}

.extra-product__value {
  margin: 0;
}
