.food-programs {
  padding: 22px 20px 0 20px;

  @media (min-width: @tablet) {
    padding: 0 30px 0 30px;
  }

  @media (min-width: @desktop) {
    margin-bottom: 71px;
    padding: 0;
  }
}

.food-programs_list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  row-gap: 20px;

  @media (min-width: @tablet) {
    row-gap: 30px;
  }

  @media (min-width: @desktop) {
    display: grid;
    row-gap: 40px;
    column-gap: 80px;

    grid-template-columns: 1fr 1fr;
  }
}

.food-programs__item {
  margin: 0;
  padding: 30px 20px 0 20px;

  background-color: @basic-grey;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet) {
    padding: 77px 20px 30px 52px;
  }

  @media (min-width: @desktop) {
    padding-right: 52px;

    &:first-child {
      margin-bottom: 0;
    }
  }
}

.food-programs__title {
  margin: 0 0 29px 0;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: @tablet) {
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
    padding: 0;
  }

  @media (min-width: @desktop) {
    padding-left: 162px;
  }
}

.food-programs__item p {
  margin: 0 13px 23px 0;

  font-size: 14px;
  line-height: 18px;
  font-family: @arial;

  @media (min-width: @tablet) {
    width: 55%;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop) {
    width: 100%;
  }
}

.food-programs__link {
  display: block;
  padding: 15px 0 15px 0;

  font-size: 16px;
  line-height: 16px;
  color: @black;
  text-transform: uppercase;
  text-decoration: none;

  border-top: 1px solid @border-gray;

  @media (min-width: @tablet) {
    padding: 15px 0 15px 0;

    font-size: 20px;
    line-height: 27px;

    border: none;
  }
}
