.food-programs {
  padding: 22px 20px 0 20px;

  @media (min-width: @tablet) {
    padding: 0 30px 0 30px;
  }

  @media (min-width: @desktop) {
    margin-bottom: 0;
    padding: 0;
  }
}

.food-programs_list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  row-gap: 20px;

  @media (min-width: @tablet) {
    row-gap: 30px;
  }

  @media (min-width: @desktop) {
    display: grid;
    row-gap: 40px;
    column-gap: 80px;

    grid-template-columns: 1fr 1fr;
  }
}

.food-programs__item {
  margin: 0;
  padding: 21px 20px 0 20px;

  background-color: @basic-grey;
  display: grid;
  grid-template-areas: "img title" "text text" "link link";
  grid-template-columns: 30% 1fr;
  min-height: 266px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet) {
    padding: 68px 35px 58px 52px;
    grid-template-columns: 62% 1fr;
    grid-template-areas: "title img" "text img" "link img";
    min-height: 372px;
  }

  @media (min-width: @desktop) {
    grid-template-columns: 163px 1fr;
    grid-template-areas: "img title" "text text" "link link";
    padding: 41px 52px 51px 52px;

    &:first-child {
      margin-bottom: 0;
    }
  }
}

.food-programs__img {
  height: 53px;
  width: 67px;
  margin-left: -7px;
  grid-area: img;

  @media (min-width: @tablet) {
    height: 211px;
    width: 268px;
    transform: translateX(-19px) translateY(16px);
  }

  @media (min-width: @desktop) {
    width: 134px;
    height: 106px;
    transform: translateX(-11px) translateY(3px);
  }
}

.food-programs__title {
  margin: 9px 0 24px 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: @tablet) {
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    grid-area: title;
    margin-bottom: 25px;
  }

  @media (min-width: @desktop) {
    margin-top: 36px;
    margin-bottom: 0;
  }
}

.food-programs__text {

  margin: 0 13px 23px 0;
  grid-area: text;
  font-size: 14px;
  line-height: 18px;
  font-family: @arial;
  align-self: flex-start;

  & br {
    display: none;
  }

  @media (min-width: @tablet) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 53px;

    & br {
      display: inline;
    }
  }

  @media (min-width: @desktop) {
    width: 100%;
    margin-bottom: 0;
    margin-top: 30px;

    & br {
      display: none;
    }
  }
}

.food-programs__link {
  display: inline-block;
  padding: 15px 0 15px 0;
  position: relative;
  grid-area: link;


  font-size: 16px;
  line-height: 16px;
  color: @black;
  text-transform: uppercase;
  text-decoration: none;

  border-top: 1px solid @border-gray;

  &::after {
    position: absolute;
    content: "";
    width: 32px;
    height: 11px;
    background-image: url("/img/icon_arrow.svg");
    transform: translateX(70%);
    top: 17px;

    @media (min-width: @tablet) {
      top: 17px;
    }
  }

  @media (min-width: @tablet) {
    padding: 0;
    margin-top: 14px;

    font-size: 20px;
    line-height: 27px;

    border: none;
  }
}
