.food-programs {
  padding: 22px 20px 0 20px;

  @media (min-width: @tablet) {
    padding: 0 30px 0 30px;
  }

  @media (min-width: @desktop) {
    margin-bottom: 71px;
    padding: 0;
  }
}

.food-programs_list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.food-programs__item {
  background-color: @basic-grey;
  padding: 30px 20px 0 20px;
  margin: 0 0 20px 0;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet) {
    padding: 77px 20px 30px 52px;
  }

  @media (min-width: @desktop) {
    padding-right: 52px;

    &:first-child {
      margin-bottom: 0;
    }
  }
}

.food-programs__title {
  line-height: 37px;
  font-size: 24px;
  text-transform: uppercase;
  margin: 0 0 29px 0;
  font-weight: 400;

  @media (min-width: @tablet) {
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop) {
    padding-left: 162px;
  }
}

.food-programs__item p {
  font-family: @arial;
  line-height: 18px;
  margin: 0 13px 23px 0;

  @media (min-width: @tablet) {
    width: 55%;
    line-height: 24px;
  }

  @media (min-width: @desktop) {
    width: 100%;
  }
}

.food-programs__link {
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: @black;
  text-transform: uppercase;
  padding: 15px 0 15px 0;
  display: block;
  border-top: 1px solid @border-gray;

  @media (min-width: @tablet) {
    border: none;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    padding: 15px 0 15px 0;
  }
}
