.how-work {
  padding: 27px 20px 42px 20px;

  @media (min-width: @tablet) {
    padding: 27px 30px 42px 30px;
  }

  @media (min-width: @desktop) {
    padding-right: 0;
    padding-left: 0;
  }
}

.how-work__title {
  margin: 0 0 38px 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: @tablet) {
    font-size: 60px;
    line-height: 60px;
  }
}

.how-work__list {
  display: grid;
  margin: 0;
  padding: 0;

  row-gap: 20px;

  @media (min-width: @tablet) {
    column-gap: 150px;

    grid-template-columns: 1fr 1fr;
    row-gap: 37px;
  }

  @media (min-width: @desktop) {
    column-gap: 70px;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
  }
}

.how-work__item {
  display: flex;

  @media (min-width: @tablet) {
    flex-direction: column;
    min-height: 280px;
  }

  @media (min-width: @desktop) {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}

.how-work__image {
  @media (min-width: @tablet) {
    margin-bottom: 31px;
  }
}

.how-work__description-item {
  margin: 0;

  font-size: 14px;
  line-height: 18px;
  font-family: @arial;
}
