.how-work {
  padding: 27px 20px 42px 20px;

  @media (min-width: @tablet) {
    padding: 45px 30px 42px 30px;
  }

  @media (min-width: @desktop) {
    padding-right: 0;
    padding-left: 0;
  }
}

.how-work__title {
  margin: 0 0 38px 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: @tablet) {
    font-size: 60px;
    line-height: 60px;
  }
}

.how-work__list {
  display: grid;
  margin: 0;
  padding: 0;

  row-gap: 20px;
  counter-reset: how-work;

  @media (min-width: @tablet) {
    column-gap: 138px;

    grid-template-columns: 1fr 1fr;
    row-gap: 37px;
    padding-right: 79px;
  }

  @media (min-width: @desktop) {
    column-gap: 70px;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    padding: 0;
  }
}

.how-work__item {
  display: flex;
  position: relative;

  @media (min-width: @tablet) {
    flex-direction: column;
    min-height: 280px;
    padding-top: 34px;

    &::before {
      position: absolute;
      counter-increment: how-work;
      content: counter(how-work);
      font-weight: 300;
      font-size: 280px;
      line-height: 280px;
      right: 0;
      top: -5px;
      color: @basic-grey;
      z-index: -1;
    }
  }

  @media (min-width: @tablet) {
    min-height: 280px;
  }

  @media (min-width: @desktop) {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}

.how-work__image {
  flex-shrink: 0;
  margin-right: 20px;

  @media (min-width: @tablet) {
    margin-bottom: 31px;
    margin-right: 0;
    width: 80px;
    height: 80px;
  }
}

.how-work__description-item {
  margin: 3px 0 0 0;

  font-size: 14px;
  line-height: 18px;
  font-family: @arial;

  @media (min-width: @tablet) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 1px;
  }
}
