.input-text {
  width: auto;
  height: 45px;
  padding-left: 15px;

  border: 1px solid @input-border;

  &:hover {
    border-color: @very-light-grey;
  }

  &:focus {
    border-width: 2px;
    border-color: @input-border-focus;
  }
}
