.present {
  min-height: 289px;

  background-image: url("/img/present-mobil.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-resolution: 2dppx) {
    background-image: url("/img/present-mobile@2x.jpg");
  }

  @media (min-width: @tablet) {
    display: flex;
    align-items: center;
    padding: 0 0 0 423px;
    background-image: url("/img/present-tablet.jpg");
    background-size: 100%;
    min-height: 200px;

    @media (min-resolution: 2dppx) {
      background-image: url("/img/present-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop) {
    width: 245px;
    padding: 0;
    justify-content: center;
    background-image: url("/img/present-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("/img/present-desktop@2x.jpg");
    }
  }
}

.present__text {
  margin: 0;
  padding: 168px 60px 0 60px;

  font-size: 16px;
  line-height: 20px;
  font-family: @arial;
  text-align: center;
  color: @white;

  @media (min-width: @tablet) {
    width: 161px;
    text-align: left;
    padding: 0;
  }

  @media (min-width: @desktop) {
    text-align: center;
  }
}
