.product {
  padding-top: 19px;

  border-top: 1px solid @show-more-border;

  &:last-child {
    border-bottom: 1px solid @show-more-border;
  }

  @media (min-width: @tablet) {
    min-height: 324px;
    background-color: @basic-grey;
    display: flex;
    flex-direction: column;
    padding: 10px 0 40px 0;
    border: 1px solid @show-more-border;
  }

  @media (min-width: @desktop) {
    min-height: 511px;
  }
}

.product_wrap {
  display: grid;
  margin: 0 0 13px 0;
  padding: 0 20px 0 20px;

  grid-template-areas: "img title" "img feature";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: min-content 1fr;

  @media (min-width: @tablet) {
    display: flex;
    flex-direction: column;
    padding: 0 36px 0 36px;
  }

  @media (min-width: @tablet) {
    margin-bottom: auto;
  }
}

.product__link-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;

  grid-area: img;

  @media (min-width: @tablet) {
    margin: 0 0 34px 0;
  }

  @media (min-width: @desktop) {
    margin: 0 0 46px 0;
  }
}

.product__link-title {
  @media (min-width: @tablet) {
    text-align: center;
  }
}

.product__img {
  @media (min-width: @tablet) {
    width: auto;
    height: 200px;
  }

  @media (min-width: @desktop) {
    height: 196px;
  }
}


.product__title {
  width: 50%;
  margin: 0 0 18px 0;

  font-size: 16px;
  line-height: 20px;
  color: @special-dark-grey-2;
  text-transform: uppercase;
  font-weight: 300;

  grid-area: title;

  @media (min-width: @tablet) {
    margin: 0 0 21px 0;
    width: 100%;

    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: @desktop) {
    font-size: 20px;
    line-height: 21px;
    padding: 0 18px 0 18px;
  }
}

.product__feature {
  margin: 0;

  font-size: 12px;
  line-height: 16px;
  font-family: @arial;
  color: @special-dark-grey;

  grid-area: feature;

  @media (min-width: @tablet) {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 33px;
  }
}

.product__feature-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;

  @media (min-width: @tablet) {
    border-bottom: 1px solid @very-light-grey;
    padding-bottom: 9px;
    margin: 0 0 7px 0;
  }
}

.product__button {
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: @tablet) {
    padding-right: 38px;
    padding-left: 38px;
  }
}

.product__value {
  margin: 0;
}
