.product {
  padding-top: 19px;
  padding-bottom: 25px;

  border-top: 1px solid @show-more-border;

  &:last-child {
    border-bottom: 1px solid @show-more-border;
  }
}

.product_wrap {
  display: grid;
  margin: 0 0 13px 0;
  padding: 0 20px 0 20px;

  grid-template-areas: "img title" "img feature";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: min-content 1fr;
}

.product__link-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;

  grid-area: img;
}

.product__title {
  width: 50%;
  margin: 0 0 18px 0;

  font-size: 16px;
  line-height: 20px;
  color: @special-dark-grey-2;
  text-transform: uppercase;

  grid-area: title;
}

.product__feature {
  margin: 0;

  font-size: 12px;
  line-height: 16px;
  font-family: @arial;
  color: @special-dark-grey;

  grid-area: feature;
}

.product__feature-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}

.product__button {
  padding-right: 20px;
  padding-left: 20px;
}

.product__value {
  margin: 0;
}
