.program-selection {
  padding: 27px 0 0 0;

  @media (min-width: @tablet) {
    padding: 0 70px 0 70px;
    margin-bottom: 40px;
  }

  @media (min-width: @desktop) {
    padding: 0;
    margin-bottom: 50px;
  }
}

.program-selection__title {
  margin: 0 0 37px 0;
  padding: 0 20px 0 20px;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: @tablet) {
    font-size: 60px;
    line-height: 60px;
    padding: 0;
    margin: 0 0 54px 0;
  }

  @media (min-width: @desktop) {
    margin-left: 0;
  }
}

.program-selection__desctiption {
  margin: 0 0 39px 0;
  padding: 0 20px 0 20px;

  text-transform: uppercase;

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    margin: 0 0 66px 0;
    width: 52%;
  }
}

.program-selection__button-wrap {

  padding: 0 20px 0 20px;

  @media (min-width: @tablet) {
    display: flex;
    align-items: center;
    padding: 0;
  }
}
