.program-selection__title {
  font-size: 36px;
  line-height: 36px;
}

.program-selection {
  padding: 27px 0px 0 0px;
}

.program-selection__title {
  font-weight: 400;
  margin: 0 0 37px 0;
  padding: 0 20px 0 20px;
}

.program-selection__desctiption {
  text-transform: uppercase;
  padding: 0 20px 0 20px;
  margin: 0 0 39px 0;
}
