.promo {
  color: @white;
  padding: 27px 20px 0 20px;
  background-color: @green-background;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin: 0 0 25px 0;
  font-weight: 400;
}

.promo__slogan {
  line-height: 14px;
  margin: 0 0 29px 0;
  text-transform: uppercase;
}

.promo__link {
  margin-top: auto;
}
