.promo {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 480px;
  padding: 27px 20px 0 20px;

  color: @white;

  background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 100%), url("/img/backgruond-header-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100% 60%, auto 60%;
  background-position: center top, 64% top;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 100%), url("/img/backgruond-header-mobile@2x.jpg");
    background-repeat: no-repeat;
    background-size: 100% 63%, auto 63%;
    background-position: center top, 64% top;
  }

  @media (min-width: @tablet) {
    align-items: normal;
    padding: 27px 30px 0 30px;

    color: @black;

    background: none;
  }

  @media (min-width: @desktop) {
    background-color: transparent;
    padding-top: 0;
    // display: grid;
    grid-template-areas: "text img";
  }
}

.promo__title {
  margin: 0 0 25px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;

  @media (min-width: @tablet) {
    order: 1;
    text-align: start;
    font-weight: 300;
    font-size: 60px;
    line-height: 60px;
    color: @black;
  }

  @media (min-width: @desktop) {
    width: 414px;
    grid-area: text;
    order: 0;
  }
}

.promo__slogan {
  margin: 0 0 29px 0;

  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: @tablet) {
    order: 2;

    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop) {
    width: 414px;
    grid-area: text;
    order: 0;
  }
}

.promo__picture {
  position: relative;

  @media (min-width: @tablet) {
    order: 4;
    align-self: center;
  }

  @media (min-width: @desktop) {
    grid-area: img;
    position: absolute;
  }
}

.promo__image {
  width: 280px;
  height: 270px;

  @media (min-width: @tablet) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: @desktop) {
    width: 552px;
    height: 499px;
  }
}

.promo__link {
  margin-top: auto;

  @media (min-width: @tablet) {
    order: 3;
    width: 244px;
    margin: 0;
  }

  @media (min-width: @desktop) {
    height: 20px;
  }
}
