.selection-form__area {
  border: none;
}

.selection-form__label {
  font-size: 16px;
  text-transform: uppercase;
}

.selection-form__text {
  border: 1px solid @input-border;
  height: 45px;
  &:hover {
    border-color: @input-border-hover;
  }
  &:focus {
    border-color: @input-border-focuse;
    border-width: 2px;
  }
}
