.selection-form {
  padding-bottom: 32px;
}

.selection-form__options-and-programm-wrap {
  @media (min-width: @tablet) {
    margin-bottom: 73px;
  }

  @media (min-width: @desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    margin-bottom: 67px;
  }
}

.selection-form__area {
  margin: 0 0 23px 0;
  padding: 0;

  border: none;

  &--options {
    @media (min-width: @tablet) {
      margin-bottom: 72px;
    }

    @media (min-width: @desktop) {
      margin: 0;
    }
  }

  &--program {
    padding: 23px 0 17px 0;
    margin-bottom: 27px;
    border-top: 1px solid @border-gray;
    border-bottom: 1px solid @border-gray;

    @media (min-width: @tablet) {
      border-left: 1px solid @border-gray;
      border-right: 1px solid @border-gray;
      padding: 25px 20px 25px 30px;
      margin-bottom: 75px;
    }
  }

  &--comment {
    margin-bottom: 27px;

    @media (min-width: @tablet) {
      margin-bottom: 65px;
    }
  }

  &--contact {
    margin-bottom: 26px;

    @media (min-width: @tablet) {
      margin-bottom: 65px;
    }

    @media (min-width: @desktop) {
      margin-bottom: 68px;
    }
  }

  &--extra {
    margin-bottom: 30px;

    @media (min-width: @tablet) {
      margin-bottom: 54px;
    }

    @media (min-width: @desktop) {
      margin-bottom: 62px;
    }
  }

  &--contact .selection-form__item {
    @media (min-width: @desktop) {
      margin: 0;
    }
  }

  &--contact .text-form-item {
    margin: 0;
  }

  &:last-child {
    margin-bottom: 27px;

    @media (min-width: @desktop) {
      margin-bottom: 0;
    }
  }

  &--comment .decorative-header {
    margin-bottom: 34px;

    @media (min-width: @tablet) {
      margin-bottom: 77px;
    }
  }

  &--extra .decorative-header {
    margin-bottom: 34px;

    @media (min-width: @tablet) {
      margin-bottom: 57px;
    }
  }
}

.selection-form__legend {
  padding: 0 0 0 20px;
  margin-bottom: 32px;

  @media (min-width: @tablet) {
    padding: 0;
    margin-bottom: 65px;
  }

  &--contact {
    width: 202px;

    @media (min-width: @tablet) {
      margin-bottom: 75px;
      width: auto;
    }
  }

  &--comment {
    @media (min-width: @tablet) {
      margin-bottom: 77px;
    }
  }
}

.selection-form__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  position: relative;

  &--email,
  &--tel {
    display: flex;
    width: 100%;
    margin-right: 0;
    align-items: center;
    position: relative;
    // color: red;

    & svg {
      position: absolute;
      right: 14px;
      z-index: 1;
      width: 20px;
      height: 20px;

      @media (min-width: @tablet) {
        right: 19px;
      }
    }
  }

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 27px;
  }
}

.selection-form__text {
  width: auto;
  height: 45px;
  padding-left: 15px;
  flex-grow: 1;
  position: relative;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 15px;

  border: 1px solid @input-border;

  &:hover {
    border-color: @very-light-grey;
  }

  &:focus {
    border-width: 2px;
    border-color: @input-border-focus;
  }

  &--email,
  &--tel {
    flex-grow: 1;
    margin-left: 12px;

    & + svg {
      color: @special-dark-grey-2;
    }

    &:focus + svg {
      color: @basic-green;
    }


    @media (min-width: @tablet) {
      margin-left: 18px;
    }
  }

  @media (min-width: @tablet) {
    height: 52px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.selection-form__radio {
  margin: 0 15px 0 0;
}

.selection-form__radio:disabled + label {
  opacity: 0.3;
  pointer-events: none;
}

.selection-form__textarea {
  width: 100%;
  min-height: 150px;
  padding: 13px 10px 13px 15px;

  font-size: 16px;
  line-height: 18px;
  font-family: @oswald;
  text-transform: uppercase;

  border: 1px solid @input-border;

  resize: none;

  @media (min-width: @tablet) {
    min-height: 174px;
    padding-top: 9px;
  }

  @media (min-width: @desktop) {
    min-height: 174px;
  }
}

.selection-form__wrap {
  padding: 0 20px 0 20px;
  display: grid;

  &--input-radio {
    row-gap: 13px;
  }

  &--extra {
    row-gap: 13px;
  }

  @media (min-width: @tablet) {
    padding: 0;

    &--extra {
      grid-template-columns: 1fr 1fr;
      row-gap: 32px;
      column-gap: 123px;
      width: 90%;
    }
  }

  @media (min-width: @desktop) {
    &--desktop {
      grid-template-columns: 1fr 1fr;
      column-gap: 80px;
    }

    &--extra {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      width: 100%;
      column-gap: 75px;
    }
  }
}

.selection-form__item {
  &--text {
    display: flex;
    align-items: center;
    margin-bottom: 14px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: @tablet) {
      margin-bottom: 20px;
    }
  }

  &--text .selection-form__label {
    margin-right: 12px;

    @media (min-width: @tablet) {
      margin-right: 18px;
    }
  }

  &--text .selection-form__label--email,
  &--text .selection-form__label--tel {
    margin-right: 0;
  }

  &--radio {
    height: 30px;
    display: flex;
    align-items: center;

    @media (min-width: @tablet) {
      height: 40px;
    }
  }

  &--radio .selection-form__label {
    min-height: 30px;
    cursor: pointer;
    user-select: none;
    padding-left: 45px;
    display: flex;
    align-items: center;

    @media (min-width: @tablet) {
      padding-left: 60px;
      min-height: 40px;
    }
  }

  &--radio .selection-form__label::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid @very-light-grey;
    border-radius: 50%;
    left: 0;

    @media (min-width: @tablet) {
      width: 40px;
      height: 40px;
    }
  }

  &--checkbox {
    height: 30px;
    display: flex;
    align-items: center;

    @media (min-width: @tablet) {
      height: 40px;
    }
  }

  &--checkbox .selection-form__label {
    min-height: 30px;
    display: flex;
    align-items: center;
    padding-left: 46px;
    cursor: pointer;
    user-select: none;

    @media (min-width: @tablet) {
      min-height: 40px;
      padding-left: 59px;
    }
  }

  &--checkbox .selection-form__label::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid @very-light-grey;
    left: 0;

    @media (min-width: @tablet) {
      width: 40px;
      height: 40px;
    }
  }
}

.selection-form__text:focus + svg {
  stroke: @basic-green;
}

.selection-form__checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-image: url("/img/svg/tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 2px;

  @media (min-width: @tablet) {
    left: 7px;
  }
}

.selection-form__radio:checked + label::after {
  content: "";
  position: absolute;
  width: 13.5px;
  height: 13.5px;
  background-color: @basic-green;
  border-radius: 50%;
  left: 8.25px;

  @media (min-width: @tablet) {
    width: 18px;
    height: 18px;
    left: 11px;
  }
}

.selection-form__button {
  margin-bottom: 21px;
  padding: 0;

  border: none;

  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  font-family: @oswald;

  @media (min-width: @tablet) {
    width: 45%;
    margin: 0 61px 0 0;
    height: 52px;
    font-size: 20px;
  }

  @media (min-width: @desktop) {
    width: 568px;
    margin-right: 82px;
  }
}

.selection-form__footnote {
  margin: 0;

  font-family: @arial;
  text-align: center;
}
