.show-more {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 209px;
  padding: 0 20px 25px 20px;
  background-image: url("/img/svg/plus.svg");
  background-repeat: no-repeat;
  background-position: center 25px;

  @media (min-width: @tablet) {
    background-color: @white;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 34px;
    background-image: url("/img/svg/plus-tablet.svg");
    background-position: center 52px;
    height: 84%;
    align-self: flex-end;
  }

  @media (min-width: @desktop) {
    padding-bottom: 41px;
  }
}

.show-more_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 29px;

  @media (min-width: @tablet) {
    padding: 0 70px;
  }

  @media (min-width: @desktop) {
    padding: 0 37px;
  }
}

.show-more__text {
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet) {
    font-weight: 300;
    font-size: 20px;
    line-height: 22px;
    margin: 0;
    padding: 0 20px;
    text-align: center;
  }

  @media (min-width: @desktop) {
    padding: 0 10px;
  }
}

.show-more__description {
  margin: 8px 0 0 0;

  font-size: 12px;
  line-height: 16px;
  font-family: @arial;

  @media (min-width: @tablet) {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    margin-top: 23px;
  }
}

.show-more__button-wrap {
  align-self: stretch;
  margin-top: 21px;

  @media (min-width: @tablet) {
    align-self: stretch;
    margin: 87px 37px 0 37px;
  }

  @media (min-width: @desktop) {
    margin-top: 85px;
  }
}
