.site-list {
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet) {
    display: flex;
    flex-wrap: wrap;

    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
}

.site-list__item {
  border-top: solid 1px @whisper;

  &:last-child {
    border-bottom: solid 1px @whisper;
  }

  @media (min-width: @tablet) {
    margin-right: 15px;

    border: none;

    &:last-child {
      margin-right: 0;

      border: none;
    }
  }
}

.site-list__link {
  display: block;
  padding: 22px 20px 24px 20px;
  position: relative;

  color: @black;
  text-decoration: none;

  @media (min-width: @tablet) {
    padding: 0;
  }

  @media (min-width: @desktop) {
    color: @white;
  }

  &--active::before {
    content: "";
    position: absolute;
    background-color: red;
    height: 2px;
    width: 100%;
  }
}
