.site-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet) {
    display: flex;
  }
}

.site-list__item {
  border-top: solid 1px @whisper;

  &:last-child {
    border-bottom: solid 1px @whisper;
  }

  @media (min-width: @tablet) {
    border: none;
    margin-right: 15px;

    &:last-child {
      border: none;
    }
  }
}

.site-list__item a {
  display: block;
  text-decoration: none;
  color: @black;
  padding: 22px 20px 24px 20px;

  @media (min-width: @tablet) {
    font-weight: 300;
    padding: 0;
  }
}
