.social-list {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  column-gap: 35px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 21px 0 16px 0;

  list-style: none;

  border-top: 1px solid @border-gray;
  border-bottom: 1px solid @border-gray;

  @media (min-width: @tablet) {

    column-gap: 28px;

    border: none;

    grid-template-columns: 1fr 1fr 1fr;
  }
}

.social-list__link {
  &:active {
    opacity: 0.2;
  }

  &:hover path {
    fill: @basic-green;
  }
}
