.stats-list {
  display: grid;
  grid-template-rows: 60px min-content;
  grid-template-columns: auto auto;

  @media (min-width: @tablet) {
    display: flex;
    align-items: center;
  }
}

.stats-list-item--cost {
  grid-column-start: 1;
  grid-column-end: -1;
  display: flex;
  font-family: @oswald;
  margin: 0 auto;

  @media (min-width: @tablet) {
    margin: 0 0 0 auto;
    flex-direction: column;
  }
}

.stats-list__number {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  &--cost {
    font-family: @oswald;
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: @tablet) {
    font-weight: 300;
    font-size: 30px;
    line-height: 37px;

    &--cost {
      font-weight: 300;
      font-size: 20px;
      line-height: 20px;
      display: flex;
      margin-left: auto;
    }
  }
}

.stats-list__description {
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  margin: 0;
  font-family: @arial;

  &--cost {
    font-family: @oswald;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    order: -1;
    margin-right: 5px;
  }

  @media (min-width: @tablet) {
    font-size: 14px;
    line-height: 14px;

    &--cost {
      font-weight: 300;
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 9px;
    }
  }
}
