*,
*::before,
*::after {
  box-sizing: border-box;
}

::placeholder,
.selection-form__text,
.selection-form__textarea {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: @special-dark-grey;
  font-family: @oswald;
  text-transform: uppercase;

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 30px;
  }
}

.selection-form__text:invalid:focus {
  box-shadow: 0 0 0 2px @light-coral;
  border: none;
  outline: none;

  &:hover,
  &:focus {
    box-shadow: 0 0 0 2px @light-coral;
  }
}

.display-none {
  display: none;
}
