.decorative-header {
  font-size: 24px;
  line-height: 24px;
  color: @black;
  font-family: @oswald;
  font-weight: 300;
  margin-top: 0;

  @media (min-width: @tablet) {
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
    padding: 0;
  }
}
